<div>
    <h2><%= note.logo %></h2>
    <h2><%= note.title %></h2>
    <p><%= note.kmPerMonth %></p>
    <p><%= note.price %></p>
    <p><%= note.truckType %></p>
    <p><%= note.description %></p>
    <a href="/dashboard%>">back</a>
    <a href="/dashboard/delete/<%= note.id %>">Delete</a>
    <a href="/dashboard/update/<%= note.id %>">update</a>

</div>