<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/output.css">
</head>
<body>
    <div class="bg-red-700">
        <h2><%= note.logo %></h2>
        <h2><%= note.title %></h2>
        <p><%= note.kmPerMonth %></p>
        <p><%= note.price %></p>
        <p><%= note.truckType %></p>
        <p><%= note.description %></p>
        <a href="/dashboard%>">back</a>
        <a href="/dashboard/delete/<%= note.id %>">Delete</a>
        <a href="/dashboard/update/<%= note.id %>">update</a>
        h2><%= note.User.name %></h2>
        <h2><%= note.User.email %></h2>
    </div>
         
        
    
</body>
</html>